<div>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a [routerLink]="['/welcome']" class="navbar-brand">{{title}}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/welcome']">Home</a></li>
          <li><a [routerLink]="['/about']">About</a></li>
          <li><a [routerLink]="['/students']">Students</a></li>
          <li><a [routerLink]="['/courses']">Courses</a></li>
          <li><a [routerLink]="['/departments']">Departments</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>